<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" ><%=@blog_total_count%></span>
                </div>
                <div class="desc"> 总文章数 </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="#">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" ><%=@blog_click_total_count%></span>
                </div>
                <div class="desc"> 总点击数 </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    
                    <span data-counter="counterup" ><%=@blog_click_max%></span>
                </div>
                <div class="desc"> 点击最高的文章 </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number"> 
                    
                    <span data-counter="counterup" ><%=@blog_click_min%></span>
                </div>
                <div class="desc"> 点击最低的文章</div>
            </div>
        </a>
    </div>
</div>
<div class="row portlet light " >
    <%= line_chart @line_data ,xtitle: "时间", ytitle: "数量"%>
</div>